{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "next",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "tsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "@next/next/no-img-element": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-explicit-any": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "react/no-unknown-property": "off",
    "explicit-function-return-type": "off",
    "ban-ts-ignore": "off",
    "ban-ts-comment": "off",
    "interface-name-prefix": "off",
    "explicit-module-boundary-types": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/prop-types": "off",
    "import/no-anonymous-default-export": "off",
    "no-var-requires": 0,
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "arrow-parens": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
