@import '../../theme/index.scss';

.hero {
  min-height: auto;
  background-color: $dark;
  .wrappedHero {
    background: unset;
  }
  &.bkgGravity {
    background-color: $dark;
  }
  &.bkgBlack {
    background-color: $black;
  }
  &.bkgWhite {
    background-color: $white;
  }
  &.bkgGravity5 {
    background-color: $light-bg-gray;
  }
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  grid-auto-flow: row;
  background-image: none;
  display: block;
  .heroBkgd {
    position: relative;
    min-height: 43rem;
    display: block;
    background-image: var(--bg-mobile);
    min-height: 43rem;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    max-width: 1440px;
    margin: auto;
    width: 100%;
    @include tablet {
      display: grid;
      grid-auto-flow: inherit;
      min-height: 37.5rem;
      display: flex;
      height: 100%;
      background-image: var(--bg-desktop);
      background-position: 70%;
      background-size: cover;
      background-repeat: no-repeat;
    }
    @include desktop {
      background-position: center;
    }
  }
}
.zoomedOutMaxWidth {
  max-width: 1920px;
}

.heroContainer {
  z-index: 1;
  padding: 0 1rem;
  max-width: 75rem;
  width: 100%;
  margin: auto;
  position: relative;
  box-sizing: border-box;
}

.heroLeft {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;

  @include mobile {
    max-width: 100%;
  }
}

.h1Hero {
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 21.44px;

  & em,
  [styleType*='secondary'] {
    color: $secondary;
    word-spacing: calc(0.25em / -2);
    font-style: normal;
  }
}

.h1LogoTitle {
  font-size: 0;
  background-image: var(--title-bg-mobile);
  background-size: unset;
  background-repeat: no-repeat;

  @include tablet {
    background-image: var(--title-bg-desktop);
  }
}

.primaryButton {
  max-width: 250px;

  @include mobile {
    font-size: 1rem;
    max-width: unset;
    width: 100%;
    margin: auto;
    padding: 0.625rem 0;
  }
}

.subHeader {
  padding-bottom: 0;
  @include mobile {
    br {
      display: none;
    }
  }
}

.subHeaderWithOutToolTip {
  max-width: 34.375rem;
  margin-top: 24px;
  display: inline-block;
  @include mobile {
    margin-top: 16px;
    padding-bottom: 1rem;
  }
}

.subHeaderInline {
  display: inline;
  margin-top: 1.5rem;
  margin-bottom: 1rem;

  @include mobile {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

.buttonsContainer {
  display: flex;
  gap: 1.25rem;
  margin-top: 2rem;
  @include mobile {
    margin-top: 0rem;
    gap: 1rem;
    flex-direction: column;
  }
}

.legalText {
  margin-top: 1rem;
  margin-bottom: 0;
  max-width: 545px;
  & a {
    text-decoration: underline;
    font-family: 'PP OBJECT SANS MEDIUM';
    &:hover {
      color: $primary;
    }
  }
  @include mobile {
    margin-top: 0.5rem;
    max-width: unset;
  }
}

.stripes {
  position: absolute;
  left: -200%;
  top: 30px;
  width: 200%;

  @include mobile {
    display: none;
  }

  &.winStripes {
    top: 24px;
  }
}

.removeStripes {
  display: none;
}

.stripe {
  background-color: $secondary;
  height: 52px;
  margin-bottom: 20px;
}

.primaryStripe {
  background-color: $primary;
}

.tertiaryStripe {
  background-color: $white;
}

.toolTip {
  color: $white;
}
