@font-face {
  font-family: 'PP Object Sans';
  src: url(https://assets.frontier.com/PPObjectSans-Regular.woff2);
  src: url(https://assets.frontier.com/PPObjectSans-Regular.eot);
  src: url(https://assets.frontier.com/PPObjectSans-Regular.otf);
  src: url(https://assets.frontier.com/PPObjectSans-Regular.ttf);
  src: url(https://assets.frontier.com/PPObjectSans-Regular.woff);
  font-display: swap;
}

@font-face {
  font-family: 'PP Object Sans Medium';
  src: url(https://assets.frontier.com/PPObjectSans-Medium.woff2);
  src: url(https://assets.frontier.com/PPObjectSans-Medium.eot);
  src: url(https://assets.frontier.com/PPObjectSans-Medium.otf);
  src: url(https://assets.frontier.com/PPObjectSans-Medium.ttf);
  src: url(https://assets.frontier.com/PPObjectSans-Medium.woff);
  font-display: swap;
}

@font-face {
  font-family: 'PP Object Sans Bold';
  src: url(https://assets.frontier.com/PPObjectSans-Bold.woff2);
  src: url(https://assets.frontier.com/PPObjectSans-Bold.eot);
  src: url(https://assets.frontier.com/PPObjectSans-Bold.otf);
  src: url(https://assets.frontier.com/PPObjectSans-Bold.ttf);
  src: url(https://assets.frontier.com/PPObjectSans-Bold.woff);
  font-display: swap;
}

@font-face {
  font-family: 'Bandwidth Display';
  src: url(https://assets.frontier.com/BandwidthDisplay_Rg.woff2);
  src: url(https://assets.frontier.com/BandwidthDisplay_Rg.otf);
  src: url(https://assets.frontier.com/BandwidthDisplay_Rg.ttf);
  src: url(https://assets.frontier.com/BandwidthDisplay_Rg.woff);
  font-display: swap;
}


body{
  margin: 0%;
}