$primary: #ff0037;
$primary-disabled: rgb(255, 0, 55, 0.3);
$primary2: #ed0033;
$secondary: #96fff5;
$dark: #141928;
$dark-disabled: rgb(20, 25, 40, 0.3);
$dark2: #2c303e;
$white: #ffffff;
$light-gray: #c4c5c9;
$gray: #cfd5e1;
$gray-30: #f9f9f9;
$grey-40: #cccccc;
$grey-90: #e5e5e5;
$midnightExpress: #141928;
$light-border-grey: #f2f4f4;
$light-border-grey2: #d0d1d4;
$dark-bg-grey: #898c93;
$background-gray: #f2f4f4;
$light-border-grey3:#898C93;
$dark-bg-blue:#090F2B;
$light-bg-gray:#F3F4F4;
$secondaryLight: #EAFFFD;
$black: #000;
$error: #D9312A;

