@mixin font-regular {
  font-family: 'PP Object Sans';
  font-weight: 400;
}

@mixin font-medium {
  font-family: 'PP Object Sans Medium';
  font-weight: 500;
}

@mixin font-bold {
  font-family: 'PP Object Sans Bold';
  font-weight: 700;
}

@mixin font-regular-bandwidth {
  font-family: 'Bandwidth Display';
  font-weight: 400;
}

