@import '../../theme/index.scss';

.cta {
  @include font-bold;
  border: 1px solid $primary;
  margin: 0;
  border-radius: 5rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  transition: 0.2s all;
  min-width: 175px;
  padding: 16px 32px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
  @include tabletAndMobile {
    width: 100%;
  }
  @include mobile {
    font-size: 1rem;
  }
}

.lite {
  @extend .cta;
  background: none;
  border-color: none;
  text-transform: none;
  text-align: left;
  border: none;
  display: inline !important;
  color: $dark;
  padding: 0 !important;
  min-height: unset;
  width: unset;
  svg {
    margin-left: 0.5rem;
  }
  &.primaryHover {
    @media (hover: hover) {
      &:hover {
        &:not(:disabled) {
          color: $primary;
        }
      }
    }
  }
}

.btnWrapper {
  width: fit-content;
  @include tabletAndMobile {
    width: 100%;
  }
}

.primary {
  @extend .cta;
  background: $primary;
  border-color: $primary;
  color: $white;

  &:disabled {
    background-color: $primary-disabled;
    border-color: transparent;
    cursor: not-allowed;
  }

  &.primaryHover {
    @media (hover: hover) {
      &:hover {
        &:not(:disabled) {
          background-color: $dark;
          border-color: $dark;
        }
      }
    }
  }

  &.secondaryHover {
    @media (hover: hover) {
      &:hover {
        &:not(:disabled) {
          background-color: $white;
          border-color: $white;
          color: $primary;
        }
        svg * {
          fill: $primary;
          stroke: $primary;
          color: $primary;
        }
      }
    }
  }
}

.primarySmall {
  @extend .primary;
  background: $primary2;
  border-color: $primary2;
}

.secondary {
  @extend .cta;
  border-color: $dark;
  background-color: $dark;
  color: $white;

  &:disabled {
    background-color: $dark-disabled;
    border-color: transparent;
    cursor: not-allowed;
  }

  &.primaryHover {
    &:hover {
      &:not(:disabled) {
        background-color: $primary;
        border-color: $primary;
      }
    }
  }

  &.secondaryHover {
    &:hover {
      &:not(:disabled) {
        background-color: $white;
        border-color: $white;
        color: $primary;
      }
    }
  }
}

.tertiary {
  @extend .cta;
  border-color: $dark;
  background: transparent;
  color: $dark;

  &:disabled {
    color: $dark-disabled;
    border-color: $dark-disabled;
    cursor: not-allowed;
  }
  &:hover {
    &:not(:disabled) {
      background-color: transparent;
      border-color: $primary;
      color: $primary;
    }
    svg * {
      fill: $primary;
      stroke: $primary;
    }
  }
}

.white {
  @extend .cta;
  border-color: $white;
  background: transparent;
  color: $white;

  &:disabled {
    color: $dark-disabled;
    border-color: $dark-disabled;
    cursor: not-allowed;
  }
    &:hover {
      &:not(:disabled) {
        background-color: transparent;
        border-color: $primary;
        color: $primary;
      }
      svg * {
        fill: $primary;
        stroke: $primary;
      }
    }
}


.centerText {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.largeBtn {
  @extend .centerText;
  height: 48px;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 32px;
}

.mediumBtn {
  @extend .centerText;
  height: 40px;
  font-size: 16px;
  line-height: 16px;
  padding: 12px 32px;
}

.smallBtn {
  @extend .centerText;
  height: 32px;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 32px;
}

.busyLoader {
  margin: 0 !important;
}

.callIcon {
  padding-right: 10px;
  svg {
    margin-top:5px;
  }
}
