@import '../../theme/index.scss';

.wrapper {
  display: flex;
  row-gap: 0.125rem;
  cursor: pointer;
}

.smallSquare {
  font-size: 2.75rem;
  line-height: 2.75rem;
  font-weight: 400;
}

.smallRect {
  font-size: 2.75rem;
  line-height: 3.125rem;
  font-weight: 400;
}

.largeSquare {
  font-size: 3.125rem;
  line-height: 3.125rem;
  font-weight: 400;
  @include mobile {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
}
