@import '../../theme/index.scss';

.codeWrapper {
  display: flex;
  width: 100%;
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.otpInput {
  margin: 5px;
  height: 64px;
  width: inherit;
  border-radius: 16px;
  @include font-bold;
  border: 1px solid $light-gray;
  text-align: center;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  &:focus-visible {
    border: 1px solid $secondary;
    outline: $secondary 2px solid;
  }
  @include mobile {
    height: 56px;
  }
}

.errorInput {
  border: 1px solid $primary;
  &:focus-visible {
    border: 1px solid $primary;
    outline: $secondary 2px solid;
  }
}

.invalidOTPError {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  width: 100%;
}

.invalidOTPErrorMsg {
  color: $primary !important;
  text-align: left;
}

.warningIcon {
  path {
    fill: $primary;
  }
}
