@import '../../theme/index.scss';
.roundedBorders {
  border-radius: 32px;
  overflow: hidden;
  @include mobile {
    border-radius: 16px;
  }
}
.fourTiles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.75rem;
  column-gap: 1rem;
  a {
    display: block;
  }
  @include tablet {
    grid-template-columns: repeat(4, 1fr);
  }
  .icon {
    margin-bottom: 1rem;
    display: inline-block;
    svg,
    img {
      object-fit: contain;
    }
  }
}

.threeTiles {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 0.75rem;
  column-gap: 1rem;
  a {
    display: block;
  }
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }
  .icon {
    margin-bottom: 1rem;
    display: inline-block;
    svg,
    img {
      object-fit: contain;
    }
  }
}

.mobileOneCol {
  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}

.tabletOneCol {
  @include tabletAndMobile {
    grid-template-columns: repeat(1, 1fr);
  }
}

.tabletTwoCol {
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}

.tile {
  padding: 1rem;
  min-height: auto;
  box-sizing: border-box;
  min-height: 17.25rem;
  transition: all 0.2s;
  text-decoration: none;
  p {
    margin-bottom: 0;
  }
  @include tablet {
    min-height: 16.5rem;
    padding: 2.5rem 2.5rem 1.75rem 2.5rem;
  }
}
.tileButton {
  width: unset;
}
.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.light {
  border-right: solid 0.0625rem $gray;
  background-color: $white;
  min-height: auto;
  &:last-child {
    border: 0;
  }
  @include mobile {
    &:nth-child(2) {
      border: 0;
    }
  }
}

.dark {
  background: $dark;
  color: $white;
  h6 {
    line-height: 1.625rem;
  }
}

.red {
  background-color: $white;
  h6 {
    color: $primary;
  }
}

.lightFont {
  color: $white;
}

.title {
  transition: all 0.2s;
  margin-bottom: 1rem;
  @include mobile {
    font-size: 1.125rem;
  }
}
.description {
  @extend .title;
  @include mobile {
    font-size: 1rem;
  }
  span sup {
    vertical-align: top;
    position: relative;
    top: -0.5em;
    font-size: 0.625rem;
  }
}

.hoverRed {
  &:hover {
    .title {
      color: $primary !important;
    }
    svg,
    path {
      fill: $primary !important;
    }
  }
}

.hoverPrimary {
  &:hover {
    color: $white !important;
    .title {
      color: $white !important;
    }
    background-color: $primary;
    svg,
    path {
      fill: $white;
    }
  }
}

.mobileBorder {
  @include mobile {
    border-bottom: solid 0.0625rem $gray;
    border-right: 0;
    &:nth-child(2) {
      border-bottom: solid 0.0625rem $gray;
      border-right: 0;
    }
  }
}
