@import '../../theme/index.scss';
@import './../Typography/Typography.module.scss';

.rowTitle {
  padding: 32px 16px;
  border-bottom: 1px solid $light-gray;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  h3 {
    @include font-bold;
    font-weight: 700;
    @include mobile {
      font-size: 1rem;
    }
  }
  sup {
    line-height: '0';
  }
}

.rowDescription {
  padding: 16px;
  max-height: 0;
  overflow: hidden;
  display: none;
  opacity: 0;
  @extend .p1;
  margin: 0;
  a {
    font-family: 'PP OBJECT SANS MEDIUM';
    &:hover {
      color: $primary;
    }
  }
  ol {
    font-family: 'PP OBJECT SANS';
    padding-left: 1.625rem;
    & li {
      @extend .p1;
      margin: 0;
      padding: 0 0 1rem 0.5rem;
      &::marker {
        @extend .p1;
        font-family: 'PP Object Sans Bold';
      }
      p {
        @extend .p1;
        margin: 0;
      }
    }
  }
  ul {
    font-family: 'PP OBJECT SANS';
    list-style: none;
    padding: 0;
    & li {
      @extend .p1;
      position: relative;
      margin: 0;
      padding: 0 0 1rem 2rem;
      p {
        @extend .p1;
        margin: 0;
      }
    }
    & li:before {
      content: '';
      height: 6px;
      width: 6px;
      background-color: $dark;
      display: inline-block;
      border-radius: 100%;
      position: absolute;
      left: 0.625rem;
      top: 0.5625rem;
    }
  }
  sup {
    line-height: 0;
  }
  img {
    max-width: 100%;
  }
}

.showDescription {
  opacity: 1;
  display: block;
  max-height: unset;
}

.icon {
  width: 16px;
  height: 16px;
  transition: all 0.1s linear;
  transform: rotateZ(360deg);
}

.chevronContainer {
  padding-top: 2px;
  margin-left: 16px;
}

.spinIcon {
  transform: rotateZ(180deg);
}
.borderUnderDescription {
  border-bottom: 1px solid $light-gray;
}
.borderUnderTitle {
  border: none;
  padding-bottom: 0;
}

.showMoreButtonWrapper {
  display: flex;
  justify-content: center;
}

.showMoreButton {
  margin-top: 32px;
  width: auto;
  @include mobile {
    width: 100%;
  }
}

.tableHeader {
  justify-content: space-between;
  padding: 1rem 0.5rem 1rem 0;
  @include mobile {
    text-align: center;
    padding: 1rem 0;
  }
}

.tableRowClass {
  font-weight: 400;
  @include mobile {
    text-align: center;
    padding: 1rem 0.5rem !important;
  }
  @include tablet {
    width: 33.33% !important;
  }
}

.headerNameTitleStyle {
  margin: 0 !important;
  padding: 0.5rem 0 !important;
  color: $dark !important;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.rowHeader {
  @include mobile {
    padding: 0.5rem 0;
  }
  & div {
    margin-bottom: 0;
    margin-right: 9rem;
    @include mobile {
      margin-right: 0;
    }
  }
  & div h3 {
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: $dark !important;
    @include mobile {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}
